<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667031532406-ap6nfisjtt6gs9042otr8dfmcrlolj4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667031532406-ap6nfisjtt6gs9042otr8dfmcrlolj4c</string>
	<key>API_KEY</key>
	<string>AIzaSyDxttF5q3Fd5z0h3LshTFViU7xL4-iy9gw</string>
	<key>GCM_SENDER_ID</key>
	<string>667031532406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucdavis.cs.ecs189e.w21.GroupMe</string>
	<key>PROJECT_ID</key>
	<string>groupme-41ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>groupme-41ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667031532406:ios:02185924080f5dab288057</string>
	<key>DATABASE_URL</key>
	<string>https://groupme-41ac5-default-rtdb.firebaseio.com</string>
</dict>
</plist>